.home {
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: #f9f9f9;
      max-width:600px;
      margin:50px auto;
      padding: 30px;
      font-family: 'Roboto', sans-serif;
      border-radius: 50px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1)
}

.Title {
  color: #333;
  font-size: 2rem;
}

.no-record {
  color: #333;
  font-size: 1rem;
}

.create-container{
  display: flex;
}

.create-container input{
  width: 90%;
  padding: 12px 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1rem;
  outline: none;
}

.create-container button{
  padding:12px 20px;
  color: rgb(255, 255, 255);
  background-color: #4CAF50;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  margin-left: 10px;
}

.todo-item {
  background-color: #ffffff;
  padding: 15px 20px;
  border-radius: 10px;
  margin-bottom: 15px;
  border-left: 5px solid #4CAF50;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s;
}

.todo-item:hover {
  background-color: #f1f1f1;
  cursor: pointer;
}